@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    justify-items: center;
    /* отступ между блоками */
}


.logo {
  display: flex;
  justify-content: center;  
  align-items: center;       
  width: 100%;
}

h1 {
    font-weight: 800;
    color: #3E356A;
    font-size: 46px;
}

.productBlock {
    background-color: #D2CFE4;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 10px 8px 29.2px 0px #00000040;
    display: flex;
    gap: 10rem;
    align-items: flex-start;
}

.addProduct__blocks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addProduct__blocks label {
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 17px;
}

.addProduct__blocks input, .addProduct__blocks textarea {
    padding: 0.7rem;
    border: none;
    border-radius: 1rem;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    color: #393551;
    font-size: 17px;
}

.PBPart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productDescription textarea {
    width: 357px;
    height: 234px;
    padding: 0.6rem 0.7rem;
    line-height: 1.4;
    text-align: left; 
}

.productPhoto {
    background-color: white;
    min-width: 285px;
    height: auto;
    border-radius: 2rem;
    display: flex;                 
    align-items: center;           
    justify-content: center;       
    padding: 1.25rem;   
}

.productPhoto img {
    width: 202px;
    height: auto;
    border-radius: 2rem;
}

button {
    background-color: #3E356A;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;      
    font-family: Inter;
    font-weight: 800;
    font-size: 17px;    
}