@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

header {
    display: flex;
    justify-content: space-between;
    margin: 25px 80px;
}

h1 {
    font-family: "Montserrat";
    font-size: 58px;
    font-weight: 600;
    margin: 0px;
}

h2 {
    font-size: 45px;
    font-family: "Montserrat";
    font-weight: 600;
    width: 75%;
    margin-left: 10px;
}

section {
    margin: 45px 80px;
}

.nav__list, .icons__list {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    gap: 40px;
}

.list__element {
    list-style: none;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #3E356A;
}

.section__card {
    background-color: #D2CFE4;
    border-radius: 32px;
    padding: 20px;
}

.card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}

.content__info {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
}

.content__icon {
    object-fit: none;
}

.content__image {
    width: 731px;
    height: 621px;
    margin-top: -110px;
}

.info__header {
    margin-right: -90px;
}

.info__text {
    margin-right: -90px;
    font-size: 17px;
    font-family: "Open Sans";
}

.info__button {
    width: 170px;
    height: 50px;    
    font-family: "Inter";
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 200px;
    background-color: #000000;
    border: none;
}

.card__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    margin-top: -20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px 20px;
    height: 792px;
}

.grid__element {
    border-radius: 32px;
    background-color: #000000;
}

#grid__first {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    grid-column: 1/3;
}

#grid__first img {
    object-fit: none;
    width: 80%;
}

#grid__second {
    display: flex;
    flex-direction: column;
    grid-row: 1/4;
    grid-column: 3;
}

#grid__third {
    display: flex;
    flex-direction: column;
    grid-row: 1/4;
    grid-column: 4;
}

#grid__fourth {
    display: flex;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1/3;
}

.element__text {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}





