@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Readex+Pro:wght@160..700&display=swap');


header {
  display: flex;
  justify-content: space-between;
  margin: 25px 5%;
}

#menuButton {
  display: none;
}

h1 {
  font-family: "Readex Pro";
  font-size: 42px;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

h2 {
  font-size: 45px;
  font-family: "Montserrat";
  font-weight: 600;
  width: 60%;
  margin-left: 10px;
}

section {
  margin: 80px 4%;
}

.nav__list, .icons__list {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  gap: 40px;
}

.list__element {
  list-style: none;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #3E356A;
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 55vw;
  background-color: #220E43;
  height: 100vh;
  display: block;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.burgerMenu--open {
  transform: translateX(0);
}

#menuCloseButton {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
  left: 100px;
}

.burgerMenu__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
  margin-top: 30vh;
}

.menu__element {
  list-style: none;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFFFFF;
}

#subscribeSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  align-items: center;
  justify-content: center;
}

.subscribeSection {
  display: none;
}

.subscribeSection--shown {
  display: flex;
}

.subscribeSection__rect {
  background-color: #220E43;
  width: 468px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
}

.rect__header {
  text-align: center;
  color: #FFFFFF;
}

.rect__text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
}

.section__card {
  height: 535px;
  background-color: #D2CFE4;
  border-radius: 32px;
  padding-left: 6.5%;
  box-shadow: 5px 5px 16px 5px #D2CFE4;
}

.card__content {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
}

.content__info {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
}

.content__icon {
  object-fit: none;
}

.content__image {
  width: 648px;
  height: 577px;
  margin-top: -110px;
  margin-bottom: 10px;
}

.content__info {
  align-items: center;
  margin-top: 110px;
}

.info__text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
}

.info__button {
  width: 170px;
  height: 50px;    
  font-family: "Inter";
  font-size: 19px;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 200px;
  background-color: #000000;
  border: none;
}

.card__nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  margin-top: -20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 20.8vw);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px 20px;
  height: 105vh;
}

.grid__element {
  border-radius: 32px;
  background-color: #000000;
}

#grid__first {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 1/3;
}

#grid__first img {
  /* height: 377px;
  width: 500px; */
  width: 80%;
  margin-left: 50px;
}

#grid__first .text-category {
  margin-top: 0px;
}

#grid__first .text-main {
  width: 192px;
  margin-left: auto;
}

#grid__second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 3;
}

#grid__second img {
  width: 93%;
  margin-left: auto;
}

#grid__third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 4;
}

#grid__fourth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-row: 3;
  grid-column: 1/3;
  padding-left: 50px;
}

#grid__fourth img {
  width: 65%;
}

.element__text {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

#grid__first .element__text, #grid__fourth .element__text {
  text-align: right;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

#grid__second .element__text, #grid__third .element__text {
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.text-category {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0px;
}

.text-main {
  font-family: "Readex Pro";
  font-size: 32px;
  font-weight: 400;
  margin-top: 0px;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  margin-bottom: 100px;
}

.products__product {
  padding: 0px 5px;
  width: 270px;
  border-radius: 18px;
  box-shadow: 3px 3px 12px 0px rgb(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__product img {
  width: 98%;
}

.product__info {
  margin-top: 0px;
  margin-left: 10px;
}

.info__name {
  font-family: "Readex Pro";
  font-size: 22px;
  font-weight: 400px;
  color: #3E356A;
  margin-top: 0px;
  margin-bottom: 10px;
}

.info__description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400px;
  color: #4B4B4B;
}

.info__price {
  margin-top: 0px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400px;
  color: #3E356A;
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.searchSection__search {
  width: 650px;
  height: 60px;
  border: 1px solid #C5C5C5;
  background-color: #F8F9FA;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.searchSection__search img {
  margin: auto 15px;
}

.search__input {
  border: none;
  background-color: inherit;
  outline: none;
}

.search__input::placeholder {
  color: #000000;
}

.searchSection__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  gap: 8px;
  justify-content: center;
}

.tags__tag {
  font-family: "Inter";
  font-size: 14px;
  text-align: center;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  width: fit-content;
  padding: 12px 22px;
}

.info__email {
  width: 400px;
  display: flex;
  margin-top: 70px;
}

.email__input {
  border: none;
  border-radius: 54px 0 0 54px;
  margin: 0px;
  padding: 0px 30px;
  width: 285px;
  height: 50px;
  background-color: #FFFFFF;
  color: #000000;
  outline: none;
}

.email__input::placeholder {
  color: #000000;
}

.email__button {
  border: none;
  border-radius: 0 54px 54px 0;
  margin: 0px;
  padding: 0px;
  width: 115px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width:1300px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 5%;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section__card {
    height: 841px;
    padding-left: 0px;
  }

  .card__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content__image {
    margin-top: -130px;
  }

  .content__info {
    margin-top: 0;
  }

  .icons__list {
    padding: 0;
    gap: 15px;
    justify-content: center;
  }

  nav {
    display: none;
  }

  #menuButton {
    display: block;
  }

  section {
    margin: 80px 1%;
  }
}