.detail {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: darkgrey;
    opacity: 0.9;
    margin: auto;
    border-radius: 16px;
    color: black;
}

.label {
    font-weight: bold;
}
  
p {
    margin: 5px;
    text-align: center;
}

.card img {
    width: 200px;
}